body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.footbgcolor {
  background: rgba(68, 68, 68, 1);
}

.inputcolor {
  background: none !important;
}

/* ---------------------------------------------------------------------------- */
/* header */
.iconrotate {
  transform: rotate(-70deg);
}

.headtextcolor {
  color: #c1c1c1 !important;
  border-color: rgba(163, 170, 208, 1) !important;
  ;
}

.homecovertext {
  top: 10%;
}
.cardposition{
  bottom: -5%;
}

.color{
  background: -webkit-linear-gradient(90deg,rgba(229, 230, 232, 0)  -53.62%, rgba(255, 255, 255, 1) 69.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header */